html,
body {
  height: 100%;
  width: 100%;
}

.nav-item {
  margin-right: 25px;
}

.navbar-brand img {
  width: 50px;
}

.jumbotron {
  background-image: url("../images/portfolio-photp.jpg");
}

#work {
  background-color: rgb(200, 211, 211);
}

.card-body {
  background-image: url("../images/portfolio-photp.jpg");
}

.card-img {
  max-height: 250px;
}
