html,
body {
  height: 100%;
  width: 100%;
}

.nav-item {
  margin-right: 25px;
}

.navbar-brand img {
  width: 50px;
}

.jumbotron {
  background-image: url("../images/portfolio-photp.jpg");
}
/* work  */
#work {
  background-color: rgb(200, 211, 211);
}

.card-body {
  background-image: url("../images/portfolio-photp.jpg");
}
/* work  */
.card-img {
  max-height: 250px;
}
/* skills */
.skills-card .card {
  max-width: 120px; 
  margin: 10px; 
}
.skills-card .card .skills-img {
  width: 100%;
  height: 90px;
  object-fit: content;
}
