html, body {
  height: 100%;
  width: 100%;
}

.nav-item {
  margin-right: 25px;
}

.navbar-brand img {
  width: 65px;
}

.jumbotron {
background-image: url("../images/portfolio-photp.jpg");
}

.card-body {
  background-image: url("../images/portfolio-photp.jpg");
}